.app-header.bg-gray-100(style=(appHeaderBg ? `background: ${appHeaderBg};` : ''))
    h1.app-header__logo
        a.app-header__logo-link(href="/")
            img.app-header__logo-image(src="/public/images/logo.svg", width="32", height="32")
            | #{appName}
    nav.app-header__nav.ml-auto
        a.app-header__nav-link(href="/", class={'app-header__nav-link_active': currentPath==='/'}) Home
        a.app-header__nav-link(href="/docs", class={'app-header__nav-link_active': currentPath.startsWith('/docs')}) Docs
        a.app-header__nav-link(href="https://github.com/maximilianschmitt/supertools") GitHub